@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	--custom-swiper-theme-color: rgba(0,0,0,.4)!important;
}

/* Roboto Font */
body, html { font-family: 'Roboto', sans-serif; }


/*
Detail view
*/

#similarCollapsible { display: none; }

#castCollapsible { display: none; }

#seriesAirTime { display: none; }

.itemExternalLinks { display: none; }

.detailRibbon { background: linear-gradient(transparent, rgba(0,0,0,.6)); }

.skinHeader { transition: background 0s ease-in-out!important; }
.skinHeader, skinHeader.semiTransparent { 
	background-color: rgba(0,0,0,.1);
	box-shadow: -1px 10px 45px -8px rgba(0,0,0,0.75);
	-webkit-box-shadow: -1px 10px 45px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 10px 45px -8px rgba(0,0,0,0.75);
}


/*
Home view
*/

.mainDrawer, .dialog {
	-webkit-backdrop-filter: blur(5px);
  	backdrop-filter: blur(5px);
	background-color: #00000080;
}


/*
Episodes view
*/

#childrenContent .listItem { height: 200px; }


/*
General Tweaks
*/

.countIndicator, .fullSyncIndicator, .playedIndicator { background: rgba(0,0,0,.3); border-radius: 2px; }

.paper-icon-button-light { border-radius: 2px; }

.headerLeft, .headerRight { height: 75px; align-items: start; }
.headerTabs { position: relative; top: -20px; }

.mainDrawer .emby-button { padding: .4em 0 .4em 2.4em!important; transition: background .2s; }
.mainDrawer .emby-button:hover, .formDialogHeader, .dialog .cardBox, .actionSheetContent .emby-button:hover { background: #FFFFFF10!important; }
.mainDrawer .navMenuOption-selected { background: #FFFFFF25!important; }

.actionSheetContent .emby-button { padding: 0 0 0 2.4em!important; }


.backDrop { background: linear-gradient(transparent, rgba(0,0,0,.6)); }